<!DOCTYPE html>
<html>
<style>
  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  }
  #map { height: 70%; width: 100%; margin: 0; padding: 0; overflow: hidden; }
 </style>
</head>
  <body><br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md">
        <div id="map" ></div>
      </div>
              <div class="col-md" style="font-size: 20px;">Welcome to TornadoStat! Select a state to view the number of tornado episodes and events. Click the name of the state to view a more detailed page.</div>
      </div>
    <script>

      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40, lng: -95},
          zoom: 3.7,

        });

        var mapStyle = [{
            'featureType': 'all',
            'elementType': 'all',
            'stylers': [{'visibility': 'off'}]
          }, {
            'featureType': 'landscape',
            'elementType': 'geometry',
            'stylers': [{'visibility': 'on'}, {'color': '#fcfcfc'}]
          }, {
            'featureType': 'water',
            'elementType': 'labels',
            'stylers': [{'visibility': 'off'}]
          }, {
            'featureType': 'water',
            'elementType': 'geometry',
            'stylers': [{'visibility': 'on'}, {'hue': '#5f94ff'}, {'lightness': 60}]
          }];


        <% @state_data.each do |s| %>
        <% num_events = 0 %>
                <% num_episodes = s.episodes.count() %>
                <% s.episodes.each do |episode| %>
                <% num_events += episode.events.count() %>
                <% end %>

        var marker = new google.maps.Marker({
        position: {lat: <%= s.lat %>, lng: <%= s.lon %>},
        map: map,
        icon: {
  		  url: "/pointer.png",
  		  scaledSize: new google.maps.Size(35, 45),
        animation:google.maps.Animation.DROP
      }
      }).addListener('click', function(){
          new google.maps.InfoWindow({
          content: '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h3>' + '<%= link_to s.name, "stormdata/#{s.id}" %>' +'</h3>'+
          '<div id="bodyContent">'+'<span>'+'Number of tornado episodes: ' + '<%= num_episodes %>' + '</span>'+ '<br>'+
          '<span>'+'Number of tornado events: '+'<%= num_events %>'+'</span>'+
          '</div>'+
          '</div>'
              }).open(map, this);
      });

      <% end %>
      map.data.loadGeoJson(
        'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json');
      map.data.setStyle({
      fillColor: 'green',
      strokeColor: 'blue',
      strokeWeight: 1
    });
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXw9tFp-fQLKJtwb4F3-BVDx4XQZbj8vk&callback=initMap">
    </script>
  </body>
</html>
